<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelos</title>
</head>
<body class="row">
    <div class="card-body d-flex justify-content-around align-items-center">
		<h2>Vuelos</h2>
        <a href="/formulario-vuelos" class="btn btn-primary">Crear vuelo</a>
	</div>
    <div class=" col-md-10" style="margin-left: 30px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha partida</th>
                    <th>fecha llegada</th>
                    <th>Cupo</th>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {{#each vuelos}}
                <tr>
                    <td>{{nombreVuelo}}</td>
                    <td>{{origen}}</td>
                    <td>{{destino}}</td>
                    <td>{{tiempoPartida}}</td>
                    <td>{{tiempoLlegada}}</td>
                    <td>{{capacidadTotal}}</td>
                    <td>
                        <a href="/modificar-vuelo/{{_id}}" class="btn btn-secondary">Editar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</body>
</html>